<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="hostName" value="HOEST"/>
      <add key="remotePath" value="/HOME/SCPSERVER/"/>
      <add key="portNumber" value="21"/>
      <add key="userName" value="USERNAME"/>
      <add key="password" value="PASSWORD"/>
      <add key="SshHostKeyFingerprint" value="ssh-rsa 2024 00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"/>
      <add key="SshPrivateKeyPath" value="C:\yourPpkFile.ppk"/>
      <add key="localPath" value="C:\"/>
    </appSettings>
</configuration>